# ***********************************************
# Minecraft server config
# ***********************************************

server-port=25565
gamemode=survival
difficulty=normal
max-players=10
online-mode=true
level-name=world
level-seed=
motd=A Minecraft Server on AWS
view-distance=10
simulation-distance=10
spawn-protection=16
white-list=false
pvp=true
enable-command-block=false
